body 
    background-color: #fefefe

    
.card-wrapper
    background-color: #fafafa
    height: 95vh
    //margin: auto !important
    list-style-type: none
    margin-top: 5%
    padding: 20px
    position: relative
    color: #333
    user-select: none
    display: flex
    flex-direction: row-reverse
    
    li
        list-style: none
    
    ul, li
        margin: 0
        padding: 0
      
        
    .card-head  /* denne skal flytte på seg */
        height: 220px
        width: 90%
        padding: 0
        border: 1px solid black  
        position: absolute
        background-color: lightblue
        //margin-left: -400px
        
        &active
            z-index: 10
        
        .head-content    
            display: block
            //background: white
            width: 100%
            height: 100%            
            padding: 10px
            background-position: center
            background-repeat: no-repeat 
        
        small
            text-align: center
            display: block
            margin-bottom: 16px
            text-decoration: underline
            cursor: pointer
        
        img
            size: contain
            height: 80px
            padding-bottom: 10px
            margin: auto
            display: block
        
        .card-divider
            margin-bottom: 15px
            padding: 10px
            background-color: red
            color: white
            text-align: center
            font-weight: bold
            display: block 
        
    .alternativ
        position: absolute
        top: 50%
        left: 50%
        
    .btn
        width: 100%
        background-color: rgba(255, 255, 255, 0.5)
        padding: 10px
        box-sizing: border-box
        margin-bottom: 4px
        color: #333
        cursor: pointer
        text-align: center
        position: relative
    
    .btn-1
        border: 2px solid #ff8080
        
    .btn-2
        border: 2px solid #ff4d4d
            
    .btn-3
        border: 2px solid #ff1a1a
        
    .btn-4
        border: 2px solid #e60000
    
    .btn-5
        border: 2px solid #b30000
        margin-bottom: 0px
        
    .clicked
        background-color: red
        color: white
        font-weight: bold
        
    .back-next
        display: none
        flex-direction: row
        position: absolute
        bottom: 10%
        left: 0
        //background-color: pink
        //height: 100px
        //transition: all .5s ease-in-out
        
    .next, .prev
        width: 49%
        box-sizing: border-box
        display: inline-block
        background-color: red
        margin-top: 15px
        padding: 10px
        text-align: center
        letter-spacing: 1.5px
        font-weight: bold
        color: white
        
        &:hover
            background-color: #800000
        
        
        
.rotate-left 
  transform: rotate(30deg) scale(0.8)
  transition: 1s
  margin-left: 400px
  //cursor: e-resize
  opacity: 0
  z-index: 1

.rotate-right 
  transform: rotate(-30deg) scale(0.8)
  transition: 1s
  opacity: 0
  margin-left: -400px
  //cursor: w-resize
  z-index: 10       
        

.finished
    display: none
        
        