body 
    background-color: #fefefe
    
.card-wrapper
    background-color: #fafafa
    height: 95vh
    margin: auto !important;
    display: block;
    list-style-type: none;
    margin-top: 5%
    padding: 20px
    position: relative
    color: #333
    user-select: none;
    
    li
        list-style: none
    
    ul, li
        margin: 0
        padding: 0
      
        
    .card-head  
        display: none
        padding: 0
        border: 1px solid black  
        //top: 50px;
        //left: 50px;
        position: absolute
        
        .head-content    
            background: white
            //width: 340px
            height: 100%
            display: block
            padding: 10px
            //margin-top: 10px
            //margin-left: 10px
            //background-size: auto 160% !important
            background-position: center
            background-repeat: no-repeat 
        
        small
            text-align: center
            display: block
            margin-bottom: 16px
            text-decoration: underline
            cursor: pointer
        
        img
            size: contain
            height: 80px
            padding-bottom: 10px
            margin: auto
            display: block
        
        .card-divider
            margin-bottom: 15px
            padding: 10px
            background-color: red
            color: white
            text-align: center
            font-weight: bold
            display: block 
        
    .alternativ
        position: absolute
        top: 50%
        left: 50%
        
    .btn
        width: 100%
        background-color: rgba(255, 255, 255, 0.5)
        padding: 10px
        box-sizing: border-box
        margin-bottom: 4px
        color: #333
        cursor: pointer
        text-align: center
        position: relative
    
    .btn-1
        border: 2px solid #ff8080
        
    .btn-2
        border: 2px solid #ff4d4d
            
    .btn-3
        border: 2px solid #ff1a1a
        
    .btn-4
        border: 2px solid #e60000
    
    .btn-5
        border: 2px solid #b30000
        margin-bottom: 0px
        
    .clicked
        background-color: red
        color: white
        font-weight: bold
        
    .back-next
        display: none
        //transition: all .5s ease-in-out
        
    .btn-back-next
        width: 49%
        box-sizing: border-box
        display: inline-block
        background-color: red
        margin-top: 15px
        padding: 10px
        text-align: center
        letter-spacing: 1.5px
        font-weight: bold
        color: white
        
        &:hover
            background-color: #800000
        
        
        
.rotate-left 
  transform: rotate(30deg) scale(0.8)
  transition: 1s
  margin-left: 400px
  cursor: e-resize
  opacity: 0
  z-index: 10

.rotate-right 
  transform: rotate(-30deg) scale(0.8)
  transition: 1s
  opacity: 0
  margin-left: -400px
  cursor: w-resize
  z-index: 1       
        
.like 
  border-radius: 5px
  padding: 5px 10px
  border: 2px solid green
  color: green
  text-transform: uppercase
  font-size: 15px
  position: absolute
  top: 50px
  right: 40px
  text-shadow: none


.dislike 
  border-radius: 5px
  padding: 5px 10px
  border: 2px solid red
  color: red
  text-transform: uppercase
  font-size: 15px
  position: absolute
  top: 50px
  left: 40px
  text-shadow: none

        
        