$primary-color: #569091 
$secondary-color: darken($primary-color, 20%)
$dagbladet-red: #D60000
$dagbladet-red-light: lighten($dagbladet-red, 10%)
$dagbladet-red-dark: darken($dagbladet-red, 10%)
$light-teal: lighten($secondary-color, 20%)