
<div class="head-content">
    <div class="card-top">
        <h5>{{number}}: </h5>
        <p>{{title}}</p>
    </div>
    <p>{{question}}</p>
    <div class="btn-more" data-open="{{fortellmer-id}}">Fortell meg mer</div>

</div>    

<!--Fortell mer - modal -->
<div class="reveal fortellmer" id="{{fortellmer-id}}" data-reveal>
    <h1>{{modal-title}}</h1>
    <p class="modal-text">{{modal-text}}</p>
    <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
    </button>
    <strong data-close aria-label="Close modal"> LUKK </strong>
</div>