<div class="grid-container">
  <div class="grid-x grid-margin-x">
    <div class="small-12 cell">
        <div class="card-wrapper">
          <div class="card q-card">
              <div class="card-divider">
                  <p>{{title}}</p>
              </div>
              
              <div class="card-section">
                <p>{{sub-title}}</p>
                <small>Fortell meg mer</small>
<!--                <img src="assets/img/logo.svg">-->
                <div class="alternativ">
                    <ul>
                        <li class="btn btn-1">{{alt1}}</li>  
                        <li class="btn btn-2">{{alt2}}</li>  
                        <li class="btn btn-3">{{alt3}}</li>  
                        <li class="btn btn-4">{{alt4}}</li>  
                        <li class="btn btn-5">{{alt5}}</li>  
                    </ul>
                </div> 
                <div class="back-next">
                    <div class="btn-back-next">Forrige</div>
                    <div class="btn-back-next">Neste</div>
                </div>  
              </div>       
        </div>
      </div>
    </div>
  </div>