<div class="card-top" style="background-image: url({{head-img}})">
    <p>{{title}}</p>
</div>
<div class="start-content">
    <h3>{{question}}</h3>
    <ul>
        <li class="person-info">{{alt-1}}</li>
        <li class="person-info">{{alt-2}}</li>
        <li class="person-info">{{alt-3}}</li>
        <li class="person-info">{{alt-4}}</li>
        <li class="person-info">{{alt-5}}</li>
        <li class="person-info">{{alt-6}}</li>
    </ul>
    <img src="{{img}}" id="{{img-id}}"/>
    <div class="btn-section">
        <button class="btn-start prev"><i class="fa fa-chevron-left" aria-hidden="true"></i> Tilbake</button>
        
        <button class="btn-start next">Neste <i class="fa fa-chevron-right" aria-hidden="true"></i></button>
    </div>
</div> 