<div class="card-top">
    <p>{{title}}</p>
</div>
<div class="start-content">
    <h3>{{question}}</h3>
    <ul>
        <li><a href="#" class="next">{{alt-1}}</a></li>
        <li><a href="#" class="next">{{alt-2}}</a></li>
        <li><a href="#" class="next">{{alt-3}}</a></li>
        <li><a href="#" class="next">{{alt-4}}</a></li>
        <li><a href="#" class="next">{{alt-5}}</a></li>
        <li><a href="#" class="next">{{alt-6}}</a></li>
    </ul>
    <img src="{{img}}" id="{{img-id}}"/>
    <button class="btn-start next" type="button">{{button}}</button>
    <button class="btn-start prev" type="button">{{button}}</button>
</div> 